/* src/home.css */
.home-page {
  font-family: "Playfair Display", serif;
  color: #333;
  background-color: #fff;
}

.hero-section {
  background-image: url("./homeImage.jpg");
  text-align: left;
  padding: 100px 200px;
  margin-bottom: 20px;
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured-recipes {
  padding: 20px;
  text-align: center;
  height: 60vh;
}

.featured-recipes h2 {
  font-size: 50px;
  margin-bottom: 60px;
}

.recipe-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.recipe-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 150px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.recipe-card img {
  width: 100%;
  border-radius: 5px;
}

.recipe-card h3 {
  font-size: 1em;
  color: #333;
  margin-top: 10px;
}

.recipe-card:hover {
  transform: scale(1.05);
}

.trap1 {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 10px 120px;
  margin-bottom: 20px;
}

.trap1-img {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.trap1-img img {
  width: 400px;
  height: 400px;
}

.trap1-text {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
  padding: 10px;
}

.redirection {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 10px 120px;
  margin-bottom: 200px;
}

.redirection-title {
  flex: 1;
  display: flex;
  align-items: center;
}

.redirections {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.redirection1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.redirection1-text {
  flex: 1;
  display: flex;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  /* Ensure long words break */
  overflow-wrap: break-word; /* Breaks long words */
  word-wrap: break-word; /* Legacy compatibility */
  word-break: break-word; /* Breaks long words explicitly */

  /* Ensure text wraps */
  white-space: normal; /* Allow wrapping */
}

.redirection1-img {
  flex: 3;
  display: flex;
  justify-self: center;
  align-items: center;
}
.redirection1-img img {
  width: 200px;
  height: 200px;
}
