/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5aa33a;
  padding: 10px 20px;
  color: white;
}

.navbar-logo img {
  width: 150px;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.navbar-links a:hover {
  color: #ccc;
}

.login-link {
  background-color: #fff;
  color: #68b347;
  padding: 5px 10px;
  border-radius: 4px;
}

.login-link:hover {
  background-color: #5aa33a;
  color: white;
}

.loginLogo {
  text-align: center;
}

.loginLogo img {
  width: 290px;
}

.recipesButton {
  border: none;
  cursor: pointer;
  font-size: 16px;
  background: none;
}

.dropdownMenu {
  display: none; /* Hidden by default */
  position: absolute;
  top: 100%; /* Positions it below the button */
  left: 0;
  background-color: #b7ce66;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 200px;
  flex-direction: column;
}

.recipeTitle {
  margin: 5px 0;
  padding: 8px;
  font-size: 14px;
  text-decoration: none;
  display: block;
}

.recipeTitle:hover {
  background-color: #f0f0f0;
}

.navItem {
  position: relative;
}

/* Show the dropdown menu on hover */
.navItem:hover .dropdownMenu {
  display: block;
}

/* src/home.css */
.cta-button {
  background-color: #fff;
  color: #68b347;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 20px;
}

.cta-button:hover {
  background-color: #5aa33a;
  color: white;
}
.authenInput {
  border: 2px solid #b7ce66;
  border-radius: 5px;
  padding: 10px; /* Adds inner padding for better spacing */
  width: 100%; /* Makes the input full width */
  box-sizing: border-box; /* Ensures padding doesn’t increase the input's width */
  margin-top: 10px; /* Adds space below each input */
  margin-bottom: 10px;
}
