.mainContainer {
  background-color: aliceblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.inputButton {
  background-color: rgb(202, 202, 202);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  margin: 15px;
}
